nav {
    height: 3rem;
    background: black;
    color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.grid-children {
    margin: 0 2rem;
    padding: 2rem;
}

footer {
    background-color: rgb(121, 17, 17);
    width: 100%;
    padding: 2rem;
    color: #fff;

    bottom: 0;
}
